% WORLD
  debug = 0                                  #(bool) run world in debug mode (if available)
  worldType = BlockCatch                     #(string) world to be used, [BlockCatch, Test]

% WORLD_BLOCKCATCH
  paddle = 101                            #(string) list of 1 (for sensor) and 0 (for non-sensor) used to define the paddle
  patternStartPositions = ALL                #(string) Where should the patters start (and if random, how many times should each pattern be tested)
                                             #  ALL = each pattern will be tested for each possible start position
                                             #  ALL_CLEAR = each pattern will be tested for each possible start position that does not overlap the paddle
                                             #  RANDOM_X = each pattern will be tested X times, starting from a random location (locations may repeat)
                                             #  RANDOM_CLEAR_X = each pattern will be tested X times, starting from a random location that does not overlap the paddle
                                             #  note: with either random method, locations may repeat)
  # tasks 1 (catch 1, avoid 3) and 2 (catch 1, avoid 2) (duplicated to make 128 total trials)
  patternsToCatch = 1L,1R,1L,1R
  # task 3 (catch 1+4, avoid 2+3)
  #patternsToCatch = 1L,1R,1111L,1111R
  # task 4 (Catch 3+6, avoid 4+5)
  #patternsToCatch = 111L,111R,111111L,111111R
                                             #(string) a comma separted list of block patterns to be caught
                                             #  each pattern is followed by a list of at least one L, R or, H. These letters will determine
                                             #  movement (left, right, hold). for example, 101LLRH = pattern 3 wide with a hole in the middle
                                             #  which moves left, left, right, no movement, left, left, right, hold...
                                             #  the letters L and R may be followed by a number, this will allow the pattern to move more faster.
                                             #  patterns may be defined with : to allow for animated patterns (i.e. 10:01L will define a pattern
                                             #  that ossilates between 10 and 01 while moving left.
  # task 1 (catch 1, avoid 3) (duplicated to make 128 total trials)
  patternsToMiss = 111L,111R,111L,111R
  # task 2 (catch 1, avoid 2)
  #patternsToMiss = 11L,11R
  # task 3 (catch 1+4, avoid 2+3)
  #patternsToMiss = 11L,11R,111L,111R
  # task 4 (Catch 3+6, avoid 4+5)
  #patternsToMiss = 1111L,1111R,11111L,11111R
                                             #(string) a comma separted list of block pattern sizes to be missed (see blockPatternsToCatch)
  scoreMethod = ANY_ANY                      #(string) How should score be calculated?
                                             #  ANY_ANY - a hit is defined as any part of the pattern contacting at part of the paddle
                                             #  VISIBLE_ANY - a hit is defined as any visible part of the pattern contacting any part of the paddle
                                             #  VISIBLE_SENSOR - a hit is defined as any visible part of the pattern contacting any sensor on the paddle
                                             #  SUM_ALL_ALL - a hit will be recorded for each part of the pattern that contacts any part of the paddle
                                             #  SUM_VISIBLE_SENSOR - a hit will be recorded for each visible part of the pattern that contacts a sensor on the paddle
                                             #  SUM_VISIBLE_NON_SENSOR - a hit will be recorded for each visible part of the pattern that contacts a non-sensor on
                                             #  the paddle.
                                             #  NOTE: correct and incorrect are calculated diffrently if any of the SUM methods are used, see the README file!
  startYMax = 35                             #(int) highest height patterns can start
  startYMin = 35                             #(int) lowest height patterns can start
  testMutants = 0                            #(int) if > 0, this number of mutants of each agent will be tested
  visualizeBest = -1                         #(int) visualize best scoring organism every visualizeBest generations, excluding generation 0.
                                             #  if -1, do not visualize on steps (this parameter does not effect visualize mode)
  worldXMax = 16                             #(int) max width of world
  worldXMin = 16                             #(int) min width of world

% WORLD_BLOCKCATCH_ANALYZE
  saveBrainStructureAndConnectome = 1        #(bool) 
  saveFlowMatrix = 0                         #(bool) 
  saveFragOverTime = 0                       #(bool) 
  saveStateToState = 1                       #(bool) 
  save_R_FragMatrix = 0                      #(bool) 

% WORLD_BLOCKCATCH_NAMES
  brainName = root::                         #(string) name of brains used to control organisms
  groupName = root::                         #(string) name of group to be evaluated

% WORLD_TEST
  evaluationsPerGeneration = 1               #(int) Number of times to test each Genome per generation (useful with non-deterministic brains)
  mode = 0                                   #(int) 0 = bit outputs before adding, 1 = add outputs
  numberOfOutputs = 10                       #(int) number of outputs in this world

% WORLD_TEST_NAMES
  brainNameSpace = root::                    #(string) namespace for parameters used to define brain
  groupNameSpace = root::                    #(string) namespace of group to be evaluated

